/*COMENTARIO DE CSS*/
/*ContactMe*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
.box-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }

.single-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  border-radius: 4px;
  background-color: #eec043;
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: .3s; }

.img-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 6px solid #535347;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center; }

.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.form-area {
  display: flex;
  background-color: #f7c934;
  border-radius: 25px;
  padding: 1.9em;
  margin: 20px;
  padding: 20px; }

.blah {
  background-color: #f38014de;
  color: #000000;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: larger;
  text-transform: uppercase;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
  padding: 20px 0 0 0;
  text-align: center;
  border-color: #c0b1b1;
  border-style: solid; }

.black {
  color: #f38014de;
  font-size: larger; }
  .black h2 {
    color: #f8f8ff;
    border-bottom: 2px solid #f38014de; }

.contenedor-limite {
  max-width: 1030px;
  margin: 0 auto; }

.contenedor-limite2 {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px; }

.container-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.padding-divs {
  padding-top: 60px;
  padding-bottom: 60px; }

.vertodo-button {
  max-width: 175px;
  height: 50px;
  background-color: #ffffffb2;
  border-radius: 5px; }

h4 {
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  word-spacing: 2px;
  position: relative; }

h3 {
  font-family: Montserrat,sans-serif;
  text-align: center;
  color: #fff;
  font-size: 46px;
  font-weight: lighter;
  word-spacing: 2px;
  padding-bottom: 40px;
  position: relative; }

h6 {
  font-family: Montserrat,sans-serif;
  font-size: 13px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  word-spacing: 2px;
  position: relative; }

.button-vertodo-enviar {
  background-color: #dd0e42da;
  border: none;
  color: #fff;
  text-transform: uppercase;
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.397);
  position: relative; }
  .button-vertodo-enviar:hover {
    background-color: #10aa6a;
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff; }

.padding-vertodo-button {
  padding: 30px; }

.div-button {
  text-align: center; }

.button-enviar:hover {
  background-color: #FFC300;
  border-color: #FFC300;
  color: #fff; }

label, option, .color-form {
  font-family: Montserrat,sans-serif;
  color: gray; }

.div-form {
  width: 400px;
  background: linear-gradient(70deg, #e1e296d0, #f0b444ea);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.397);
  z-index: 1;
  overflow: hidden;
  transition: .7s; }
  .div-form:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .7s;
    transition-timing-function: ease;
    filter: saturate(180%); }

.font-form {
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: bolder; }

.div-contacto-info {
  max-width: 50%; }

.h4-contacto {
  font-family: Montserrat,sans-serif;
  font-size: 15px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  word-spacing: 2px;
  position: relative; }

.div-contacto-info2 {
  display: flex;
  align-items: center; }

.logo-sa-contacto {
  max-width: 400px;
  display: block;
  position: relative; }

.icons-contacto {
  width: 30px;
  display: flex;
  position: relative;
  padding-right: 10px; }

.line-contacto {
  width: 300px;
  height: 2px;
  background-color: #FFC300;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px; }

.maps {
  margin-top: 10px;
  position: relative;
  max-width: 400px;
  max-height: 175px;
  transition: .5s;
  border-radius: 10px; }

.flex-contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.color-contacto {
  background-image: url(../img/restaurant4.jpg);
  height: 800px; }

.color-propiedades {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.color-contacto:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.p-info-servicios-html {
  font-family: Montserrat,sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #474343;
  word-spacing: 1px;
  text-align: center; }

.container-servicios {
  display: flex;
  justify-content: center;
  width: 100%; }

.centrado-tipografia {
  font-family: Montserrat,sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #474343;
  word-spacing: 1px;
  padding: 20px; }

.color-contacto2 {
  background-image: url(img/background-image-contacto2.webp);
  height: 800px; }
  .color-contacto2:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); }

.share__data {
  text-align: center; }

.share__description {
  margin-bottom: var(--mb-2); }

.share__img {
  width: 280px;
  justify-self: center; }

.conct {
  text-align: center;
  padding: 50px 80px; }

.black {
  background-color: #000000;
  color: #AD8A56;
  font-size: larger; }

.boxc {
  text-align: center;
  list-style-type: none;
  border: 1px;
  border-style: solid;
  border-color: #000000;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  padding-top: 20px; }
  .boxc:hover {
    box-shadow: 0 8px 12px 0 #3D3D3D; }

.box ul li {
  text-align: center; }

.box:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); }

.button {
  display: inline-block;
  background-color: #DA2535;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: 600;
  transition: .3s; }
  .button:hover {
    background: #831c26;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.2); }

.formu_bottom {
  padding: 5px 30px;
  background: linear-gradient(91.54deg, #ffb31e 2.78%, #ffe653 104.38%);
  border-radius: 47px;
  border: none;
  cursor: pointer;
  font-family: var(--popins);
  font-size: 20px;
  font-weight: 600;
  color: white; }

.knowledge {
  background-color: #f5f5fa;
  background-image: radial-gradient(#ec931d 0.5px, transparent 0.5px), radial-gradient(#ec931d 0.5px, #f3b25c 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  overflow: hidden; }

.knowledge__container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  text-align: center;
  justify-content: center;
  align-items: center; }

.review .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .review .box-container .box {
    background: #fff;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    flex: 1 1 30rem;
    border-radius: .5rem; }
    .review .box-container .box .fa-quote-right {
      position: absolute;
      top: 1rem;
      right: 2rem;
      font-size: 8rem;
      color: red;
      opacity: .3; }
    .review .box-container .box .user img {
      border-radius: 50%;
      object-fit: cover;
      height: 7rem;
      width: 7rem;
      margin-top: 2rem; }
    .review .box-container .box .user h3 {
      color: var(--orange);
      font-size: 2rem; }
    .review .box-container .box .user .stars i {
      color: var(--brown);
      font-size: 1.5rem;
      padding: 1rem 0; }
    .review .box-container .box .comment {
      color: #666;
      font-size: 1.4rem;
      padding: 1rem; }

/*Home*/
.imgBox img {
  width: 650px; }

.home__container {
  row-gap: .5rem; }

.home__img {
  width: 280px;
  justify-self: center; }

.home__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem; }

.home__description {
  margin-bottom: 1.5rem; }

.bd-container {
  max-width: 1400px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.bd-grid {
  display: grid;
  gap: 1.5rem; }

/*---Buttons--*/
.button {
  display: inline-block;
  background-color: #DA2535;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: 600;
  transition: .3s; }
  .button:hover {
    background: #831c26;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.2); }

.formu_bottom {
  padding: 5px 30px;
  background: linear-gradient(91.54deg, #ffb31e 2.78%, #ffe653 104.38%);
  border-radius: 47px;
  border: none;
  cursor: pointer;
  font-family: var(--popins);
  font-size: 20px;
  font-weight: 600;
  color: white; }

.knowledge {
  background-color: #f5f5fa;
  background-image: radial-gradient(#ec931d 0.5px, transparent 0.5px), radial-gradient(#ec931d 0.5px, #f3b25c 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  overflow: hidden; }

.knowledge__container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  text-align: center;
  justify-content: center;
  align-items: center; }

.review .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .review .box-container .box {
    background: #fff;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    flex: 1 1 30rem;
    border-radius: .5rem; }
    .review .box-container .box .fa-quote-right {
      position: absolute;
      top: 1rem;
      right: 2rem;
      font-size: 8rem;
      color: red;
      opacity: .3; }
    .review .box-container .box .user img {
      border-radius: 50%;
      object-fit: cover;
      height: 7rem;
      width: 7rem;
      margin-top: 2rem; }
    .review .box-container .box .user h3 {
      color: var(--orange);
      font-size: 2rem; }
    .review .box-container .box .user .stars i {
      color: var(--brown);
      font-size: 1.5rem;
      padding: 1rem 0; }
    .review .box-container .box .comment {
      color: #666;
      font-size: 1.4rem;
      padding: 1rem; }

.accessory__container {
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem; }

.accessory__content {
  position: relative;
  display: grid;
  padding: .25rem .75rem .75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
  background: peru; }
  .accessory__content:hover {
    box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15); }

.accessory__img {
  width: 110px;
  justify-self: center;
  margin-bottom: .25rem; }

.accessory__title, .accessory__category {
  text-align: center; }

.accessory__title {
  font-size: 3rem; }

.accessory__category {
  font-size: .875rem;
  margin-bottom: .5rem;
  color: #8F8A8A; }

.accessory__preci {
  font-weight: 600;
  color: #161212; }

.accessory__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  padding: .5rem .625rem;
  border-radius: 1rem 0 1rem 0; }

/*Nosotros page*/
.knowledge {
  background-color: #f5f5fa;
  background-image: radial-gradient(#ec931d 0.5px, transparent 0.5px), radial-gradient(#ec931d 0.5px, #f3b25c 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  overflow: hidden; }

.knowledge__container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  text-align: center;
  justify-content: center;
  align-items: center; }

/*Nosotros page*/
.container-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.p-responsive {
  font-size: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: start; }

.p-info {
  font-family: Montserrat,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #474343;
  word-spacing: 1px;
  text-align: justify; }

.p-info2 {
  font-family: Montserrat,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  word-spacing: 1px;
  text-align: justify; }

.div-button {
  text-align: center; }

.about-us {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 50%;
  height: 150px;
  margin-left: 25%; }

.mission-us {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 50%;
  height: 150px;
  margin-left: 25%;
  margin-bottom: 50px; }

grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense; }

.form-area {
  display: flex;
  background-color: #f7c934;
  border-radius: 25px;
  padding: 1.9em;
  margin: 20px;
  padding: 20px; }

.blah {
  background-color: #f38014de;
  color: #000000;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: larger;
  text-transform: uppercase;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
  padding: 20px 0 0 0;
  text-align: center;
  border-color: #c0b1b1;
  border-style: solid; }

.black {
  color: #f38014de;
  font-size: larger; }
  .black h2 {
    color: #f8f8ff;
    border-bottom: 2px solid #f38014de; }

.contenedor-limite {
  max-width: 1030px;
  margin: 0 auto; }

.contenedor-limite2 {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px; }

.container-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.padding-divs {
  padding-top: 60px;
  padding-bottom: 60px; }

.vertodo-button {
  max-width: 175px;
  height: 50px;
  background-color: #ffffffb2;
  border-radius: 5px; }

h4 {
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  word-spacing: 2px;
  position: relative; }

h3 {
  font-family: Montserrat,sans-serif;
  text-align: center;
  color: #fff;
  font-size: 46px;
  font-weight: lighter;
  word-spacing: 2px;
  padding-bottom: 40px;
  position: relative; }

h6 {
  font-family: Montserrat,sans-serif;
  font-size: 13px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  word-spacing: 2px;
  position: relative; }

.button-vertodo-enviar {
  background-color: #dd0e42da;
  border: none;
  color: #fff;
  text-transform: uppercase;
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.397);
  position: relative; }
  .button-vertodo-enviar:hover {
    background-color: #10aa6a;
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff; }

.padding-vertodo-button {
  padding: 30px; }

.div-button {
  text-align: center; }

.button-enviar:hover {
  background-color: #FFC300;
  border-color: #FFC300;
  color: #fff; }

label, option, .color-form {
  font-family: Montserrat,sans-serif;
  color: gray; }

.div-form {
  width: 400px;
  background: linear-gradient(70deg, #e1e296d0, #f0b444ea);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.397);
  z-index: 1;
  overflow: hidden;
  transition: .7s; }
  .div-form:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .7s;
    transition-timing-function: ease;
    filter: saturate(180%); }

.font-form {
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: bolder; }

.div-contacto-info {
  max-width: 50%; }

.h4-contacto {
  font-family: Montserrat,sans-serif;
  font-size: 15px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  word-spacing: 2px;
  position: relative; }

.div-contacto-info2 {
  display: flex;
  align-items: center; }

.logo-sa-contacto {
  max-width: 400px;
  display: block;
  position: relative; }

.icons-contacto {
  width: 30px;
  display: flex;
  position: relative;
  padding-right: 10px; }

.line-contacto {
  width: 300px;
  height: 2px;
  background-color: #FFC300;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px; }

.maps {
  margin-top: 10px;
  position: relative;
  max-width: 400px;
  max-height: 175px;
  transition: .5s;
  border-radius: 10px; }

.flex-contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.color-contacto {
  background-image: url(../img/restaurant4.jpg);
  height: 800px; }

.color-propiedades {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.color-contacto:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.p-info-servicios-html {
  font-family: Montserrat,sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #474343;
  word-spacing: 1px;
  text-align: center; }

.container-servicios {
  display: flex;
  justify-content: center;
  width: 100%; }

.centrado-tipografia {
  font-family: Montserrat,sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #474343;
  word-spacing: 1px;
  padding: 20px; }

.color-contacto2 {
  background-image: url(img/background-image-contacto2.webp);
  height: 800px; }
  .color-contacto2:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); }

:root {
  --brown:#661203d8;
  --orange:#f87823;
  --gradient:linear-gradient(90deg, var(--brown), var(--orange)); }

.main-send {
  color: var(--blanco);
  text-align: center;
  margin: 40px 0;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.subscribe-cont {
  width: 95%;
  height: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 80px;
  background-color: #fad7648f;
  border-radius: 1.5rem; }

.susb-title {
  text-align: center;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2; }

.small-title {
  color: orange;
  font-size: 32px; }

.big-title {
  font-size: 78px;
  font-weight: 400;
  line-height: 62px;
  color: white; }

.paragraph-cont {
  font-size: 18px;
  margin: 5px 0;
  width: 500px;
  justify-content: center;
  text-align: center;
  color: white; }

.form-em {
  border: 5px solid #f0a822;
  background-color: #d6c160;
  font-family: var(--popins);
  font-size: 20px;
  color: var(--blanco);
  padding-left: 20px;
  border-radius: 50px;
  width: 600px;
  height: 40px;
  margin: 20px 0;
  color: white; }

.pricing .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .pricing .box-container .box {
    flex: 1 1 27rem;
    margin: 1rem;
    padding: 1rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    text-align: center;
    padding-bottom: 3rem; }
    .pricing .box-container .box:nth-child(2), .pricing .box-container .box:hover {
      border: 0.2rem solid var(--orange); }
    .pricing .box-container .box .title {
      color: var(--brown);
      font-size: 2.5rem;
      padding-top: 1rem; }
    .pricing .box-container .box .price {
      font-size: 4rem;
      color: var(--orange);
      padding: 1rem 0; }
      .pricing .box-container .box .price span {
        font-size: 2rem; }
    .pricing .box-container .box ul {
      padding: 1rem 0;
      list-style: none; }
      .pricing .box-container .box ul li {
        font-size: 1.7rem;
        color: #666;
        padding: .5rem 0; }
        .pricing .box-container .box ul li .fa-check {
          color: lightgreen; }
        .pricing .box-container .box ul li .fa-times {
          color: tomato; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #971d08;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000; }
  header .logo {
    font-size: 3rem;
    color: var(--brown); }
    header .logo span {
      color: var(--orange); }
  header .navbar1 a {
    font-size: 1.7rem;
    margin-left: 2rem;
    color: whitesmoke;
    text-transform: uppercase; }
    header .navbar1 a:hover {
      color: var(--orange); }
  header input {
    display: none; }
  header label {
    font-size: 3rem;
    color: var(--brown);
    cursor: pointer;
    visibility: hidden;
    opacity: 0; }

footer {
  background: #080808e8;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
  width: 100vw; }

.container-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc; }

.content-foo {
  text-align: center; }
  .content-foo h4 {
    color: #fff;
    border-bottom: 3px solid brown;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .content-foo p {
    color: #ccc; }

.title-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797; }

.ctServi {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 3rem; }
  .ctServi #tituloServ {
    grid-area: tituloServ; }
  .ctServi__img {
    width: 100%;
    object-fit: cover;
    max-width: 480px;
    box-shadow: 0 0px 10px 5px #2b2c28b4;
    border-radius: 10px; }
  .ctServi__data {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center; }
    .ctServi__data__list {
      color: #77612d;
      text-align: center;
      font-size: 2.8rem;
      font-weight: 600;
      list-style-type: square;
      list-style-position: inside; }
    .ctServi__data .tildes {
      font-size: 0.9em; }

@media only screen and (max-width: 600px) {
  h1 {
    font-weight: 500; }
  h2 {
    font-weight: 500; }
  .ctIndex__section {
    padding: 5rem 0 3rem 0; }
  .ctIndex__section__title {
    font-size: 2.8rem; }
  .ctIndex__serv__span {
    font-size: 2.4rem; }
  .ctIndex__serv__bt {
    width: 75px;
    height: 30px; }
  .ctIndex__serv__img {
    width: 230px;
    height: 350px; } }

/* media queries  */
@media (max-width: 1200px) {
  html {
    font-size: 55%; } }

/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img {
    width: 100%; }
  .imagen-port {
    width: 95%; }
  .container-footer {
    flex-direction: column;
    border: none; }
  .content-foo {
    margin-bottom: 20px;
    text-align: center; }
    .content-foo h4 {
      border: none; }
    .content-foo p {
      color: #ccc;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 20px; }
  .title-final {
    font-size: 20px; } }

@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 5rem 0 0; }
  .home__img {
    order: 1; }
  .section-title-center {
    text-align: initial; }
  .home__img {
    width: 100%; }
  .wide {
    grid-column: span 2; }
  .tall {
    grid-row: span 2; } }

@media screen and (min-width: 768px) {
  body {
    margin: 0; }
  .section {
    padding-top: 7rem; }
  .home__container {
    padding: 7rem 2rem 0; } }

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto; }
  .home__img {
    width: 469px; }
  .home__container {
    column-gap: 5rem; } }

@media (max-width: 991px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
    padding-bottom: 2rem; }
  .subscribe-cont {
    width: 98%;
    padding-left: inherit;
    padding-right: inherit; }
  .form-em {
    width: 350px; }
  .paragraph-cont {
    font-size: 12px; } }

@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1; }
  header .navbar1 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #971d08;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: .2s linear; }
    header .navbar1 a {
      display: block;
      margin: 2rem 0;
      font-size: 2rem; }
  header input:checked ~ .navbar1 {
    transform: scaleY(1);
    opacity: 1; }
  header input:checked ~ label::before {
    content: '\f00d'; }
  .home {
    flex-flow: column-reverse; }
    .home .image img {
      width: 100%; }
    .home .content h3 {
      font-size: 3.6rem; }
    .home .content p {
      font-size: 1.5rem; }
  .about {
    background-position: right; }
  .newsletter p {
    width: auto; } }

@media (max-width: 450px) {
  html {
    font-size: 50%; }
  .about .column .content .buttons a {
    width: 100%;
    text-align: center; }
    .about .column .content .buttons a:last-child {
      margin: 1rem 0; } }

@media screen and (max-width) {
  .black ul li {
    text-align: center;
    word-wrap: break-word;
    list-style: none; } }

iframe {
  border: 0; }

@media (max-width: 768px) {
  .contenedor-limite2 {
    padding: 10px; }
  nav ul {
    flex-direction: column; }
  .box-flex {
    flex-direction: column;
    text-align: center; }
  nav a {
    justify-content: center; }
  .div-contacto-info {
    display: none; }
  .icons-responsive {
    width: 50px; }
  .flex-direction-servicios {
    flex-direction: column;
    margin: 0 auto; }
  .div-form {
    background: 0 0;
    box-shadow: none; }
  .color-contacto, .color-contacto2 {
    height: 725px; }
  .div-button {
    padding-top: 40px;
    padding-bottom: 0; }
  .button-responsive {
    margin-bottom: 30px; }
  .img-cards, .div-img-cards {
    width: 70px; }
  .button-vertodo-enviar {
    font-size: 13px; } }

@media screen and (max-width) {
  .black ul li {
    text-align: center;
    word-wrap: break-word; } }

@media (max-width: 600px) {
  .boxc {
    display: block;
    padding: 0; } }

:root {
  --brown:#661203d8;
  --orange:#f87823;
  --gradient:linear-gradient(90deg, var(--brown), var(--orange)); }

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize; }

*::selection {
  background: var(--orange);
  color: #fff; }

a {
  text-decoration: none; }

html {
  font-size: 70%;
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto; }

.home__img img {
  animation: float 3s linear infinite; }

body {
  background: #f9f9f9; }

section {
  min-height: 700px;
  padding: 0 9%;
  padding-top: 7rem;
  padding-bottom: 2rem; }

.l-main {
  overflow: hidden; }

.heading {
  text-align: center;
  background: var(--gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem; }
