//Esto es un comentario en SCSS
/*COMENTARIO DE CSS*/

@import "pages/contacto";
@import "pages/index";
@import "pages/nosotros";
@import "pages/planes";
@import "layout/header";
@import "layout/footer";
@import "pages/servicios";
@import "tools/mediaqueries";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --brown:#661203d8;
    --orange:#f87823;
    --gradient:linear-gradient(90deg, var(--brown), var(--orange));
}


*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

*::selection{
    background:var(--orange);
    color:#fff;
}

a {
  text-decoration: none;
}

html{
    font-size: 70%;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
    
}
.home__img img {
  animation: float 3s linear infinite;
}

body{
    background:#f9f9f9;
}

section{
    min-height: 700px;
    padding:0 9%;
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.l-main{
    overflow: hidden;
}
.heading {
	text-align: center;
	background: var(--gradient);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-size: 3.5rem;
	text-transform: uppercase;
	padding: 1rem;
}





