/*Nosotros page*/
.knowledge {
	background-color: #f5f5fa;
	background-image: radial-gradient(#ec931d 0.5px, transparent 0.5px), radial-gradient(#ec931d 0.5px, #f3b25c 0.5px);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
	overflow: hidden;
}
  
.knowledge__container {
	display: flex;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	text-align: center;
	justify-content: center;
	align-items: center;
}


/*Nosotros page*/

.container-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.p-responsive {
  font-size: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: start;
}

.p-info {
  font-family: Montserrat,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #474343;
  word-spacing: 1px;
  text-align: justify;
}

.p-info2 {
  font-family: Montserrat,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  word-spacing: 1px;
  text-align: justify;
}

.div-button {
  text-align: center;
}

.about-us {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 50%;
  height: 150px;
  margin-left: 25%;
}

.mission-us {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 50%;
  height: 150px;
  margin-left: 25%;
  margin-bottom: 50px;
}

grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

  .form-area {
    display: flex;
    background-color: rgb(247, 201, 52);
    border-radius: 25px;
    padding: 1.9em;
    margin: 20px;
    padding: 20px;
  }
  
  .blah {
    background-color: #f38014de;
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: larger;
    text-transform: uppercase;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    padding: 20px 0 0 0;
    text-align: center;
    border-color: #c0b1b1;
    border-style: solid;
  }
  
  .black {
    color: #f38014de;
    font-size: larger;
  
    h2 {
      color: #f8f8ff;
      border-bottom: 2px solid #f38014de;
    }
  }
  
  .contenedor-limite {
    max-width: 1030px;
    margin: 0 auto;
  }
  
  .contenedor-limite2 {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .container-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .padding-divs {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .vertodo-button {
    max-width: 175px;
    height: 50px;
    background-color: #ffffffb2;
    border-radius: 5px;
  }
  
  h4 {
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    word-spacing: 2px;
    position: relative;
  }
  
  h3 {
    font-family: Montserrat,sans-serif;
    text-align: center;
    color: #fff;
    font-size: 46px;
    font-weight: lighter;
    word-spacing: 2px;
    padding-bottom: 40px;
    position: relative;
  }
  
  h6 {
    font-family: Montserrat,sans-serif;
    font-size: 13px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    word-spacing: 2px;
    position: relative;
  }
  
  .button-vertodo-enviar {
    background-color: #dd0e42da;
    border: none;
    color: #fff;
    text-transform: uppercase;
    outline: 1px solid;
    outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.397);
    position: relative;
  
    &:hover {
      background-color: #10aa6a;
      box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
      outline-color: rgba(49, 138, 172, 0);
      outline-offset: 80px;
      text-shadow: 1px 1px 6px #fff;
    }
  }
  
  .padding-vertodo-button {
    padding: 30px;
  }
  
  .div-button {
    text-align: center;
  }
  
  .button-enviar:hover {
    background-color: #FFC300;
    border-color: #FFC300;
    color: #fff;
  }
  
  label, option, .color-form {
    font-family: Montserrat,sans-serif;
    color: gray;
  }
  
  .div-form {
    width: 400px;
    background: linear-gradient(70deg, #e1e296d0, #f0b444ea);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.397);
    z-index: 1;
    overflow: hidden;
    transition: .7s;
  
    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition: .7s;
      transition-timing-function: ease;
      filter: saturate(180%);
    }
  }
  
  .font-form {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: bolder;
  }
  
  .div-contacto-info {
    max-width: 50%;
  }
  
  .h4-contacto {
    font-family: Montserrat,sans-serif;
    font-size: 15px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    word-spacing: 2px;
    position: relative;
  }
  
  .div-contacto-info2 {
    display: flex;
    align-items: center;
  }
  
  .logo-sa-contacto {
    max-width: 400px;
    display: block;
    position: relative;
  }
  
  .icons-contacto {
    width: 30px;
    display: flex;
    position: relative;
    padding-right: 10px;
  }
  
  .line-contacto {
    width: 300px;
    height: 2px;
    background-color: #FFC300;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .maps {
    margin-top: 10px;
    position: relative;
    max-width: 400px;
    max-height: 175px;
    transition: .5s;
    border-radius: 10px;
  }
  
  .flex-contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .color-contacto {
    background-image: url(../img/restaurant4.jpg);
    height: 800px;
  }
  
  .color-propiedades {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  
  .color-contacto:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .p-info-servicios-html {
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #474343;
    word-spacing: 1px;
    text-align: center;
  }
  
  .container-servicios {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .centrado-tipografia {
    font-family: Montserrat,sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #474343;
    word-spacing: 1px;
    padding: 20px;
  }
  
  .color-contacto2 {
    background-image: url(img/background-image-contacto2.webp);
    height: 800px;
  
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }